/* колір основного тексту       #212121 */
/* колір другорядного тексту    #757575 */
/* лого     чорний              #000000 
            синій               #2196F3 */

/* ховер синій                  #2196F3 */
/* сірий майл тел               rgba(255, 255, 255, 0.6) */
/* білий                        #FFFFFF */

/* фон основний             #FFFFFF */
/* фон другорядний          #F5F4FA */
/* фон герой та футер       #2F303A */


/* Global */
body {
    background-color: #ffffff;
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
 }

:root {
    --head-footter-bgc:#2F303A;
    --primary-text-color: #757575;
    --second-text-color: #212121;
    --accent-color: #2196F3;
    --second-bg-color: #F5F4FA;
    --second-btn-color: #FFFFFF;
    --logo-black-color:#000000;
    --second-bt-bg:#188CE8;
    --outline:red;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

.flex {
    display: flex;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

  
}

.outline {
    outline: 1px solid var(--outline);
}

/* .center {
    align-items: center;
} */
/* Header */
/* Logo style */

.nav-box {
    display: flex;
}

.logo {
    display: flex;
}

.logo-web {
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;

    color: var(--accent-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1738;
    letter-spacing: 0.03em;
}

.logo-studio {
    
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;

    color: var(--logo-black-color);

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1738;
    letter-spacing: 0.03em;
}

/* Site nav */

.nav {
    display:flex;
}

.nav>li:not(:last-child) {
    margin-right: 50px;
}

.nav-link {
    color: var(--second-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1721;
    letter-spacing: 0.02em;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-link:hover, .nav-link:focus {
    color: var(--accent-color);
}

.auth-nav{
    display: flex;
}

/* Почемуто не работает такой тип записи */
/* .auth-nav .item + .item {
    margin-left: 50px;
    background-color: red;
} */

.auth-nav>li:not(:last-child) {
    margin-right: 50px;
}

.auth-nav>li:first-child {
    margin-left: 340px;
}

.item {
    display:block;
    color: var(--primary-text-color); 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1721;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
}

.item:hover, .item:focus {
    color: var(--accent-color);
}

.current {
     color: var(--accent-color);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


/* Index html */
/* Hero */

.hero{
    background-color: var(--head-footter-bgc);
    text-align: center;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;

}

.hero-tittle {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    max-width: 696px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    color: var(--second-btn-color);
}

/* Content */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.content-features {
    padding-bottom: 94px;
    padding-top: 94px;
    max-width: 1600px;
    width: 100%;
    background-color: var(--second-btn-color);
    margin: 0 auto;
}

.content-tittle, .content-features-item {
    color: var(--second-text-color);
}

.content-features-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1721;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
}

.content-features-box {
    width: calc((100%-90px) / 4);
}

.content-features-box:not(:last-child) {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

.features-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    margin-bottom: 0;
}

.content-tittle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1719;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0;
    padding-bottom: 50px;
}

/* Work list */
.worklist {
    padding-bottom: 94px;
}

.work-list {
    display: flex;
    justify-content: space-between;
}

.work-list:not(:last-child) {
    margin-right: 30px;
}

.content {
    max-width: 1600px;
    width: 100%;
    background-color: var(--second-btn-color);
    margin: 0 auto;
}

/* About */

.about {
    background-color: var(--second-bg-color);
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.about-li {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 94px;
}

.about-li:not(:last-child) {
    margin-right: 30px;
}

.about-tittle, .about-name {
    color: var(--second-text-color);
}

.about-tittle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1719;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0;
    padding-bottom: 50px;
    padding-top: 94px;
}

.about-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1718;
    text-align: center;
    letter-spacing: 0.03em;
}

/* Footer */

.footer-box {
    background-color: var(--head-footter-bgc);
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.footer-logo {
    display: flex;
    padding-top: 60px;
    margin-bottom: 20px;
}

.footer-logo-web {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1738;
    letter-spacing: 0.03em;
}

.logo-alter {
    color: var(--second-btn-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1738;
    letter-spacing: 0.03em;
}

.footer-list-item {
    display: block;
}

.footer-list-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-list-item:last-child {
    padding-bottom: 60px;
}

.footer-item {
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1721;
    letter-spacing: 0.02em;
}

.footer-item:hover, .footer-item:focus {
    color: var(--accent-color);
}



.mail {
    color:var(--second-btn-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
}

.mail:hover, .mail:focus {
    color: var(--accent-color);
}



/* Portfolio html */
/* filter-list */
.filter-list {
    color: var(--second-btn-color);
}

/* Button */

.hero-btn {
    max-width: 216px;
    width: 100%;
    height: 50px;
    color: var(--second-btn-color);
    background-color: var(--accent-color);
    border-color: transparent;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px; 
    margin-bottom: 200px;
}

.hero-btn:hover, .hero-btn:focus {
    width: 216px;
    height: 50px;
    border-radius: 4px; 
    background-color: var(--second-bt-bg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
}

.button {
    cursor: pointer;
    color: var(--second-text-color);
    background-color: var(--second-bg-color);
    border-color: transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
}

.button:hover,
.button:focus {
    color: var(--second-btn-color);
    background-color: var(--accent-color);
    border-color: transparent;
}

/* work-list */
.work-name {
    color: var(--second-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

