/* колір основного тексту       #212121 */
/* колір другорядного тексту    #757575 */
/* лого     чорний              #000000 
            синій               #2196F3 */

/* ховер синій                  #2196F3 */
/* сірий майл тел               rgba(255, 255, 255, 0.6) */
/* білий                        #FFFFFF */

/* фон основний             #FFFFFF */
/* фон другорядний          #F5F4FA */
/* фон герой та футер       #2F303A */


/* Global */
body {
    background-color: #ffffff;
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
 }

:root {
    --head-footter-bgc:#2F303A;
    --primary-text-color: #757575;
    --second-text-color: #212121;
    --accent-color: #2196F3;
    --second-bg-color: #F5F4FA;
    --second-btn-color: #FFFFFF;
    --logo-black-color:#000000;
    --second-bt-bg:#188CE8;
    --outline:red;
}


.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}


/* Header */
/* Logo style */

.logo-web {
    color: var(--accent-color);
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.1738;
        letter-spacing: 0.03em;
        padding-top: 24px;
        padding-bottom: 25px;
}

.logo-studio {
    color: var(--logo-black-color);
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.1738;
        letter-spacing: 0.03em;
        padding-top: 24px;
        padding-bottom: 25px;
        padding-right: 93px;
        outline: 1px solid red;
}

/* Site nav */

.nav {
    width: 281px;
    justify-content: space-between;
    outline: 1px solid red;
    padding-right: 344px;
}

.flex {
    display: flex;
}

.nav-link {
    color: var(--second-text-color);
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1721;
        letter-spacing: 0.02em;
        padding-top: 32px;
}

.nav-link:hover, .nav-link:focus {
    color: var(--accent-color);
}

.current {
     color: var(--accent-color);
}

.auth-nav>li {
    padding-right: 50px;
}

.auth-nav>:last-child {
    padding-right: 0;
}

.item {
    color: var(--primary-text-color); 
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1721;
        letter-spacing: 0.02em;
        padding-top: 32px;
}

.item:hover, .item:focus {
    color: var(--accent-color);
}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: 1px solid var(--outline);
}

.outline {
    outline: 1px solid var(--outline);
}

/* Index html */
/* Hero */

.hero{
    background-color: var(--head-footter-bgc);
    text-align: center;
}

.hero-tittle {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.3636;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        /* outline: 1px solid var(--outline); */
    width: 696px;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        padding-top: 200px;
        color: var(--second-btn-color);
}

/* Content */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.content-features {
    padding-bottom: 94px;
    padding-top: 94px;
}

.content-tittle, .content-features-item {
    color: var(--second-text-color);
}

.content-features-item {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.1721;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin: 0;
        /* outline: 1px solid var(--outline); */
}

.content-features-box {
    width: calc((100%-90px) / 4);
}

.content-features-box:not(:last-child) {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

.features-text {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7142;
        letter-spacing: 0.03em;
        margin-bottom: 0;
}

.content-tittle {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1719;
        text-align: center;
        letter-spacing: 0.03em;
        margin: 0;
        padding-bottom: 50px;
}

/* Work list */
.work-list {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}


/* About */
.about {
    background-color: var(--second-bg-color);
}

.about-li {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    padding-bottom: 94px;
}

.about-li-item {
    outline: 1px solid red;
}

.about-tittle, .about-name {
    color: var(--second-text-color);
}

.about-tittle {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1719;
        text-align: center;
        letter-spacing: 0.03em;
        margin: 0;
        padding-bottom: 50px;
        padding-top: 94px;
}

.about-name {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1718;
        text-align: center;
        letter-spacing: 0.03em;
}

/* Footer */
.footer-map {
   display: inline-block;
   margin-top: 50px;
   margin-bottom: 20px;
}

.footer-list {
    display: inline-block;
}

.footer-list:last-child {
    margin-bottom: 50px;
}

.footer-box {
    background-color: var(--head-footter-bgc);
}

.mail {
    color:var(--second-btn-color);
    font-style: normal;
}

.mail:hover, .mail:focus {
    color: var(--accent-color);
}

.logo-alter {
    color: var(--second-btn-color);
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.1738;
        letter-spacing: 0.03em;
}

/* Portfolio html */
/* filter-list */
.filter-list {
    color: var(--second-btn-color);
}

/* Button */

.hero-btn {
    width: 216px;
    height: 50px;
    color: var(--second-btn-color);
    background-color: var(--accent-color);
    border-color: transparent;
    cursor: pointer;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.06em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px; 
        margin-top: 30px;
        margin-bottom: 200px;
        outline: 1px solid red;
}

.hero-btn:hover, .hero-btn:focus {
    width: 216px;
    height: 50px;
    border-radius: 4px; 
    background-color: var(--second-bt-bg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
}

.button {
    cursor: pointer;
    color: var(--second-text-color);
    background-color: var(--second-bg-color);
    border-color: transparent;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.625;
        text-align: center;
        letter-spacing: 0.03em;
}

.button:hover,
.button:focus {
    color: var(--second-btn-color);
    background-color: var(--accent-color);
    border-color: transparent;
}

/* work-list */
.work-name {
    color: var(--second-text-color);
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
}

